body{
	font-family: 'Montserrat';
	background-color: "#1abc9c";
	padding: 0;
	margin: 0;
	background: #F7F7F7;
	overflow: hidden;
}

/* header */

.header{
	display: flex;
	justify-content: space-between;
	margin: 0em 2em;
	align-items: center;
	color: white;
}

.header h1{
	color: #18BC9C;
	font-size: 3.5em;
	text-transform: uppercase;
	padding: 0;
	margin-left: 60px;
}


/* grid */
.section-a .grid{
	height: 100vh;
	background-color: #18BC9C;
	display: flex;
	justify-content: center;
}


.insert-group{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 140px 0;
}

.input{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 450px;
	height: 60px;
	border-radius: 10px;
	outline: none;
	border: none;
	font-size: 1.2em;
	text-transform: uppercase;
	align-content: center;
	text-align: center; 
}

::-webkit-input-placeholder {
	text-align: center;
 }
 

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #F7F7F7;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #2C3E50;
	border-radius: 10px;
	width: 120px;
	height: 60px;
	margin: 15px;
	border:none;
}

a{
	text-decoration: none;
}



